<%
   inherited_risk_score = measure('inherited_risk_score')
   vulnerable_component_ratio = measure('vulnerable_component_ratio')

   total_dependencies = measure('total_dependencies')
   vulnerable_dependencies = measure('vulnerable_dependencies')
   total_vulnerabilities = measure('total_vulnerabilities')
   high_severity_vulns = measure('high_severity_vulns')
   medium_severity_vulns = measure('medium_severity_vulns')
   low_severity_vulns = measure('low_severity_vulns')

   tooltip = message('widget.as_calculated_on_x', :params => l(@snapshot.created_at))

   if inherited_risk_score
%>
    <style>
        .severity-circle {
            display: block;
            margin: 0 5px 0 0;
            padding: 0;
            float: left;
            width: 5px;
            height: 5px;
            line-height: 12px;
            background: #FFFFFF;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border: 3px solid #0000CD;
            border-radius: 6px;
        }
        .severity-circle.high-severity {
            border-color: red;
        }
        .severity-circle.medium-severity {
            border-color: orange;
        }
        .severity-circle.low-severity {
            border-color: green;
        }
    </style>

    <div class="widget-row">
        <div class="widget-span widget-span-6">
            <div class="widget-measure-container">
                <p class="widget-measure widget-measure-main">
                    <span class="widget-label">
                        <%= message('dependencycheck.widget.securityRating') -%>
                    </span>
                    <span class="nowrap">
                        <a href="<%= url_for_drilldown('inherited_risk_score') -%>" class="widget-link"
                           title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                            <%= format_measure(inherited_risk_score) -%>
                        </a>
                        <%= dashboard_configuration.selected_period? ? format_variation(inherited_risk_score) : trend_icon(inherited_risk_score) -%>
                    </span>
                </p>
                <table class="data widget-barchar">
                    <tr>
                        <td class="thin nowrap"><%= message('dependencycheck.widget.dependencies') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for_drilldown('total_dependencies') -%>" class="widget-link"
                               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(total_dependencies) -%>
                            </a>
                        </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(total_dependencies) : trend_icon(total_dependencies, :empty => true) -%>
                        </td>
                    </tr>
                    <tr>
                        <td class="thin nowrap"><%= message('dependencycheck.widget.vulnerabilities') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for_drilldown('total_vulnerabilities') -%>" class="widget-link"
                               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(total_vulnerabilities) -%>
                            </a>
                        </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(total_vulnerabilities) : trend_icon(total_vulnerabilities, :empty => true) -%>
                        </td>
                    </tr>
                    <tr>
                        <td class="thin nowrap"><%= message('dependencycheck.widget.vulnerable.dependencies') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for_drilldown('vulnerable_dependencies') -%>" class="widget-link"
                               title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(vulnerable_dependencies) -%>
                            </a>
                        </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(vulnerable_dependencies) : trend_icon(vulnerable_dependencies, :empty => true) -%>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="widget-span widget-span-6">
            <div class="widget-measure-container">
                <p class="widget-measure widget-measure-main">
                    <span class="widget-label">
                        <%= message('dependencycheck.widget.securityRatio') -%>
                    </span>
                    <span class="nowrap">
                        <a href="<%= url_for_drilldown('vulnerable_component_ratio') -%>" class="widget-link"
                           title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                            <%= format_measure(vulnerable_component_ratio) -%>
                        </a>
                        <%= dashboard_configuration.selected_period? ? format_variation(vulnerable_component_ratio) : trend_icon(vulnerable_component_ratio) -%>
                    </span>
                </p>
                <table class="data widget-barchar">
                    <tr>
                        <td class="thin nowrap"><div class="severity-circle high-severity"></div> <%= message('dependencycheck.widget.severity.high') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=CRITICAL|rules=OWASP%3AUsingComponentWithKnownVulnerability"
                               class="widget-link drilldown_CRITICAL" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(high_severity_vulns) -%>
                            </a>
                         </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(high_severity_vulns) : trend_icon(high_severity_vulns, :empty => true) -%>
                        </td>
                    </tr>
                    <tr>
                        <td class="thin nowrap"><div class="severity-circle medium-severity"></div> <%= message('dependencycheck.widget.severity.medium') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MAJOR|rules=OWASP%3AUsingComponentWithKnownVulnerability"
                               class="widget-link drilldown_MAJOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(medium_severity_vulns) -%>
                            </a>                       </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(medium_severity_vulns) : trend_icon(medium_severity_vulns, :empty => true) -%>
                        </td>
                    </tr>
                    <tr>
                        <td class="thin nowrap"><div class="severity-circle low-severity"></div> <%= message('dependencycheck.widget.severity.low') -%></td>
                        <td class="thin right nowrap">
                            <a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=<%= url_encode(@project.key) -%>#resolved=false|severities=MINOR|rules=OWASP%3AUsingComponentWithKnownVulnerability"
                               class="widget-link drilldown_MINOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
                                <%= format_measure(low_severity_vulns) -%>
                            </a>                        </td>
                        <td class="thin nowrap">
                            <%= dashboard_configuration.selected_period? ? format_variation(low_severity_vulns) : trend_icon(low_severity_vulns, :empty => true) -%>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<% end %>